<div class="container-fluid footer">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-md-5">
                        <div class="contentContainer">
                            <h3>Workout App</h3>
                            <p>Thank you for checking out our website! If you have any problems or questions, you can try checking out our links on the right here. If that does not help, check out these pictures of <a href="https://www.google.com/search?q=puppies&tbm=isch&ved=2ahUKEwi3wfjCptToAhVQHd8KHcEXBkAQ2-cCegQIABAA&oq=puppies&gs_lcp=CgNpbWcQAzICCAAyAggAMgIIADICCAAyAggAMgIIADICCAAyAggAMgIIADICCAA6BAgAEEM6BggAEAoQGFDPBli6E2DEFGgBcAB4AYABWogBiwWSAQIxMJgBAKABAaoBC2d3cy13aXotaW1n&sclient=img&ei=lmOLXreeOtC6_AbBr5iABA&bih=937&biw=1920">puppies</a>!</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="contentContainer">
                            <h3>Helpful Links</h3>
                            <!-- <a href=""><p>My Workouts</p></a> -->
                            <a href="{% url 'workout:workout_create' %}"><p>Create Workout</p></a>
                            <!-- <a href="#"><p>Logging</p></a>
                            <a href="#"><p>Statistics</p></a>
                            <a href="#"><p>About</p></a>
                            <a href="#"><p>Contact us</p></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
