{% extends 'home/base.html' %}
{% block content %}
    <div class="container" style="margin-top:10%; margin-bottom:10%;">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="contentContainer" style="background-color:#373737; padding:20px; border-radius:10px;">
                    <div>
                        <h1 class="text-center">Workout app</h1>
                        <h4 class="text-center">Update password</h4>
                        <pre></pre>
                        <form method="post">
                            {% csrf_token %}
                            <p>New password</p>
                            <p class="form-field">{{ form.new_password1 }}</p>
                            <p>Confirm new password</p>
                            <p class="form-field">{{ form.new_password2 }}</p>
                            <button type="submit" name="button">Reset password</button>
                        </form>
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
