{% extends 'home/base.html' %}
{% block content %}
    <div class="container" style="margin-top:10%; margin-bottom:25%;">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="contentContainer text-center" style="background-color:#373737; padding:20px; border-radius:10px;">
                    <div>
                        <h1>Workout app</h1>
                        <h4>Update password</h4>
                        <pre></pre>
                        <p>You'r password has been changed!</p>
                        <a href="{% url 'login' %}" class="btn btn-primary">Back to login</a>
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
