{% extends 'home/base.html' %}
{% block content %}
    <div class="container" style="margin-top:10%; margin-bottom:15%;">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="contentContainer" style="background-color:#373737; padding:20px; border-radius:10px;">
                    <div>
                        <h1 class="text-center">Workout app</h1>
                        <h4 class="text-center">Update password</h4>
                        <p class="text-center">Give us your email address and we will send you an automated email so that you can reset your password. Check your spam folder!</p>
                        <pre></pre>
                        <form method="post">
                            {% csrf_token %}
                            <p>Email</p>
                            <p class="form-field">{{ form.email }}</p>
                            <button type="submit" name="button" class="btn btn-primary">Request password reset</button>
                        </form>
                        <pre></pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
