{% extends 'home/base.html' %}
{% block content %}
    <div class="container" style="margin-top:10%; margin-bottom:10%;">
        <div class="row justify-content-md-center">
            <div class="col-md-6">
                <div class="contentContainer" style="background-color:#373737; padding:20px; border-radius:10px;">
                    <div>
                        <h3 class="text-center">Workout app</h3>
                        <h5 class="text-center">Register here!</h5>
                        <pre></pre>
                        {% if login_failed == True %}
                            <p style="color:red;">The username or password entered did not match!</p>
                        {% endif %}
                        <form class="" method="post">
                            {% csrf_token %}
                            {% for field in form %}
                                {{ field.label_tag }}<br>
                                <p class="form-field">{{ field }}</p>
                                {% if field.help_text %}
                                  <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                  <p style="color: red">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            {% if disclaimer_error %}
                                <p class="error">You must agree to the disclaimer before registering</p>
                            {% endif %}
                            <p><input style="margin-right: 10px" type="checkbox" name="disclaimer" value="checked">By registering for this site, you agree to our <a data-toggle="modal" data-target="#basicExampleModal" href="">disclaimer.</a></p>
                            <button type="submit" class="btn btn-primary">Register</button>
                        </form>
                        <pre></pre>
                        <p>Already have an account? Login <a href="{% url 'login' %}">here</a>!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLabel">Create workout</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color: grey">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h1>Disclaimer for Workout App</h1>
                    <p>If you require any more information or have any questions about our site's disclaimer, please feel free to contact us by email at chris.lockard21@gmail.com</p>
                    <h2>Disclaimers for Workout App</h2>
                    <p>All the information on this website - https://chrislockard21.pythonanywhere.com - is published in good faith and for general information purpose only. Workout App does not make any warranties about the completeness, reliability and accuracy of this information. Any action you take upon the information you find on this website (Workout App), is strictly at your own risk. Workout App will not be liable for any losses and/or damages in connection with the use of our website. Our Disclaimer was generated with the help of the <a href="https://www.disclaimergenerator.net/">Disclaimer Generator</a> and the <a href="https://www.disclaimer-generator.com">Disclaimer Generator</a>.</p>
                    <p>From our website, you can visit other websites by following hyperlinks to such external sites. While we strive to provide only quality links to useful and ethical websites, we have no control over the content and nature of these sites. These links to other websites do not imply a recommendation for all the content found on these sites. Site owners and content may change without notice and may occur before we have the opportunity to remove a link which may have gone 'bad'.</p>
                    <p>Please be also aware that when you leave our website, other sites may have different privacy policies and terms which are beyond our control. Please be sure to check the Privacy Policies of these sites as well as their "Terms of Service" before engaging in any business or uploading any information.</p>
                    <h2>Consent</h2>
                    <p>By using our website, you hereby consent to our disclaimer and agree to its terms.</p>
                    <h2>Update</h2>
                    <p>Should we update, amend or make any changes to this document, those changes will be prominently posted here.</p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
